/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light: #fff !default;
$stable: #f8f8f8 !default;
$positive: #4a87ee !default;
$calm: #43cee6 !default;
$balanced: #66cc33 !default;
$energized: #f0b840 !default;
$assertive: #ef4e3a !default;
$royal: #8a6de9 !default;
$dark: #444 !default;

// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;

// Include all of Ionic
@import "../../bower_components/ionic/scss/ionic";

.ng-hide {
  display: none;
}

.rtl {
  direction: rtl;
}

.centering {
  text-align: center;
}

.row100 {
  width: 100%;
  overflow: hidden;
}

.rowSeparator {
  width: 100%;
  height: 1px;
  background-color: #3d3d3d;
}

.rowWhiteSeparator {
  width: 100%;
  height: 1px;
  background-color: #F6F6F6;
}

.div95 {
  width: 95%;
  margin: 10px auto;
}

.whiteRowRight {
  width: 85%;
  float: right;
  padding: 20px;
  text-align: right;
  color: #3d3d3d;
  direction: rtl;
  font-size: 20px;
}

.whiteRowLeft {
  width: 15%;
  float: right;
  text-align: center;
  padding-top: 20px;
}

.cleanFooter {
  padding: 0;
  margin: 0;
}

.blueButton {
  width: 100%;
  background-color: #49A3D5;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  padding: 10px 0;
  border-radius: 3px;
  margin: 10px 0;
}

.disabledBlueButton {
  width: 100%;
  background-color: rgba(73, 163, 213, 0.51);
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  padding: 10px 0;
  border-radius: 3px;
  margin: 10px 0;
}


/*Login*/
.customBackground {
  background-color: #ececeb;
}

.loginInput {
  width: 70%;
  margin: 10px auto;
  background-color: white;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  color: #2A4460;
  position: relative;
}

.loginInput input {
  width: 100%;
  text-align: center;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  color: #2A4460;
}

.loginInput input::-webkit-input-placeholder {
  color: #2A4460;
}

.loginIcon {
  position: absolute;
  top: 3px;
  left: 10px;
}

/*End of login*/
/*New project*/
.projectInput {
  width: 100%;
  background-color: #F6F6F6;
  margin: 5px 0;
}

.projectInput input,
.projectInput textarea,
.projectInput select {
  width: 100%;
  background-color: #F6F6F6;
  direction: rtl;
  padding: 5px;
  border: 0;
}

.projectInput select {
  padding: 7px 0;
}

.projectInput input::-webkit-input-placeholder,
.projectInput textarea::-webkit-input-placeholder {
  color: #3d3d3d;
}

.projectNewImage {
  background-color: #F6F6F6;
  padding: 0 0 5px 5px;
  width: 33%;
  float: right;
  height: 90px;
  line-height: 90px;
  text-align: center;
  color: #3d3d3d;
  font-size: 20px;
}

.projectImage {
  padding: 0 0 5px 5px;
  width: 33.3%;
  float: right;
  height: 90px;
  text-align: right;
  position: relative;
  overflow: hidden;
}

/*End of new project*/

//Apartments list


.apartmentsRowRight {
  width: 70%;
  float: right;
  padding: 20px;
  text-align: right;
  color: #3d3d3d;
  direction: rtl;
  font-size: 20px;
}

.apartmentsRowLeft {
  width: 15%;
  float: right;
  text-align: center;
  padding-top: 20px;
}


//End of apartments list

/*Project*/
.projectsBlueBar {
  width: 150px;
  text-align: center;
  color: white;
  height: 25px;
  line-height: 25px;
  background-color: #49A3D5;
  -webkit-transform: translateY(-25px) translateX(35px) rotate(45deg);
  position: absolute;
  top: 50px;
  right: 0;
}

.projectsDesc {
  width: 85%;
  float: right;
  padding: 10px 20px;
  text-align: justify;
  color: #3d3d3d;
  direction: rtl;
}

.projectsSettings {
  width: 15%;
  float: right;
  text-align: left;
  padding-left: 15px;
}

/*End of new project*/
/*Steps*/
.checkbox-royal input:before,
.checkbox-royal .checkbox-icon:before {
  border-color: #3d3d3d;
  text-align: center;
}

.checkbox-royal input:checked:before,
.checkbox-royal input:checked + .checkbox-icon:before {
  background: #3d3d3d;
  border-color: #3d3d3d;
  text-align: center;
}

.customCheckbox {
  border-right-width: 0 !important;
  border-left-width: 0 !important;
  text-align: right;
  padding-right: 60px;
}

.step2row30{
  width: 30%;
  float: right;
  text-align: center;
}

.step2row70{
  width: 70%;
  float: right;
  text-align: right;
  padding-top: 5px;
}


.step2row50 {
  width: 50%;
  float: right;
  text-align: center;
  padding: 10px 0;
  color: #3d3d3d;
}

.item-radio input[type="radio"] {
  display: none;
}

.step2radioTop .item-content {
  padding-right: 0;
}

.step2radio {
  text-align: right;
  border-right-width: 0 !important;
  border-left-width: 0 !important;
}

.step3category {
  width: 33%;
  float: right;
  text-align: center;
  color: #3d3d3d;
  padding: 0 5px;
  height: 145px;
}

.step3modalRight {
  width: 40%;
  height: 100%;
  float: right;
}

.step3modalLeft {
  width: 60%;
  float: right;
}

.step3modalSquare {
  width: 100%;
  height: 112px;
  background-color: #F6F6F6;
  line-height: 112px;
  text-align: center;
  color: #3d3d3d;
  font-size: 20px;
  margin: 5px;
}

.step3listTitle {
  font-size: 20px;
  color: #3d3d3d;
  padding: 15px 0;
}

.step3product {
  padding: 10px 60px 10px 0;
  color: #3d3d3d;
}

.step3row20 {
  width: 20%;
  float: right;
  text-align: center;
  color: #3d3d3d;
  padding: 10px 0;
}

.step3row80 {
  width: 80%;
  float: right;
  text-align: right;
  color: #3d3d3d;
  padding: 15px 0;
}

.step3row60 {
  width: 60%;
  float: right;
  text-align: right;
  color: #3d3d3d;
  padding: 15px 0;
}

.step3fakeInput{
  width: 100%;
  background-color: #F6F6F6;
  direction: rtl;
  padding: 7px;
  border: 0;
  color: #3d3d3d;
  margin: 5px 0;
  min-height: 34px;
}

.step3fakeTextarea {
  width: 100%;
  background-color: #F6F6F6;
  direction: rtl;
  padding: 7px 7px 25px 7px;
  border: 0;
  color: #3d3d3d;
  margin: 5px 0;
  position: relative;
}

.step3trash {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.step4rowRight {
  width: calc(15% - 1px);
  float: right;
  background-color: #F6F6F6;
  color: #3d3d3d;
  padding: 10px;
  margin: 1px 0 1px 1px;
}


.step4rowRightIcon {
  width: calc(15% - 1px);
  float: right;
  background-color: #F6F6F6;
  text-align: center;
  color: #3d3d3d;
  padding: 7px 0;
  margin: 1px 0 1px 1px;
}

.step4rowLeft {
  width: 85%;
  float: right;
  background-color: #F6F6F6;
  color: #3d3d3d;
  text-align: right;
  padding: 10px;
  margin: 1px 0;
}

.steps-indicator {
  li {
    float: right;
  }
}

//End of steps

/*Apartment*/
.apHeader {
  font-size: 20px;
  padding: 20px 0 0 0;
  text-align: center;
}

.apSubHeader {
  font-size: 17px;
  padding: 3px;
  text-align: center;
}

.apRow30 {
  width: 30%;
  float: right;
  padding: 10px 0;
  text-align: center;
}

.apRow70 {
  width: 70%;
  float: right;
  text-align: right;
  font-size: 20px;
  padding-top: 20px;
}

.apContent {
  bottom: 70px;
}

.apFooter{
  height: 70px !important;
  padding: 0;
  margin: 0;
  border-top: 1px solid #ececeb;
}

.apFooter33{
  width: 33%;
  float: right;
  background-color: #F6F6F6;
  height: 100%;
  text-align: center;
  color: #3d3d3d;
}

.apFooter34{
  width: 34%;
  float: right;
  background-color: #F6F6F6;
  border-left: 1px solid #ececeb;
  border-right: 1px solid #ececeb;
  height: 100%;
  text-align: center;
  color: #3d3d3d;
}

//End of apartment

//Plans
.plans30 {
  width: 30%;
  float: right;
  padding: 10px 0;
  text-align: center;
  color: #3d3d3d;
}

.plans50{
  width: 50%;
  float: right;
  text-align: right;
  font-size: 20px;
  padding: 10px 0;
  color: #3d3d3d;
  line-height: 40px;
}

.plans20 {
  width: 20%;
  float: right;
  padding: 15px 0;
  text-align: center;
  color: #3d3d3d;
}
//End of plans

//Defects
.defectsHeaderButton {
  background-color: white;
  color: #49A3D5;
  width: 50%;
  float: right;
  text-align: center;
  padding: 10px 0;
}

.defectsHeaderActive {
  background-color: #49A3D5;
  color: white;
}

.defectsRow30 {
  width: 30%;
  float: right;
  background-color: #F6F6F6;
  color: #3d3d3d;
  padding: 5px 0;
  margin: 5px 0;
}

.defectsRow20 {
  width: 20%;
  float: right;
  background-color: #F6F6F6;
  color: #3d3d3d;
  padding: 5px 0;
  margin: 5px 0;
}

.defectsRow50 {
  width: 50%;
  float: right;
  background-color: #F6F6F6;
  color: #3d3d3d;
  padding: 5px 0;
  margin: 5px 0;
}

.defectsCategory{
  width: 50%;
  float: right;
  text-align: right;
  padding: 5px;
  color: #3d3d3d;
}

.defectsStatus{
  width: 20%;
  float: right;
  text-align: center;
  padding-top: 15px;
}

.defectsStatusName {
  padding: 2px 7px;
  border-radius: 5px;
  background-color: #49A3D5;
  color: white;
}

.defectsStatusNameOutline{
  padding: 2px 7px;
  border: 1px solid #49A3D5;
  border-radius: 5px;
  color: #49A3D5;
}

.defectsDate{
  width: 30%;
  float: right;
  text-align: center;
  color: #3d3d3d;
  padding-top: 15px;
}

.defectsButton {
  background-color: #49A3D5;
  color: white;
  text-align: center;
  padding: 10px 0;
  border: 1px solid #49A3D5;
  width: 100%;
  height: 100%;
  font-size: 17px;
  font-weight: bold;
  border-radius: 0;
}
//End of defects

//Defect create + show

.defectCamera {
  width: 100%;
  height: 200px;
  text-align: center;
  background-color: #F6F6F6;
  padding-top: 70px;
}

.defectImage {
  width: 100%;
  height: 200px;
  text-align: center;
  margin: 10px 0;
}

.defectRow {
  width: 100%;
  direction: rtl;
  text-align: right;
  padding: 10px;
  font-size: 17px;
}


.defectInput input,
.defectInput textarea,
.defectInput select {
  width: 100%;
  direction: rtl;
  padding: 5px 0;
  border: 0;
  margin: 5px 0;
  font-size: 17px;
}

.defectText {
  color: #3d3d3d;
  padding: 3px;
}

.defectButton {
  background-color: #49A3D5;
  color: white;
  text-align: center;
  padding: 10px 0;
  border: 1px solid #49A3D5;
  border-radius: 5px;
  width: 100%;
  line-height: 100%;
}

.defectButtonRed {
  background-color: red;
  color: white;
  text-align: center;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
}

// End of Defect create + show

//Connections

.connectionsName {
  width: 40%;
  float: right;
  text-align: right;
  padding: 15px;
  color: #3d3d3d;
}

.connectionsStatus{
  width: 40%;
  float: right;
  text-align: center;
  padding: 15px;
  color: #3d3d3d;
}

.connectionsButton{
  width: 20%;
  float: right;
  text-align: center;
  color: #3d3d3d;
  padding: 8px;
}

//End of connections

//Comments

.chatContainer {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.chatButtonsContainer {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.chatButton {
  padding: 10px 0;
}

.chatInput {
  flex-basis: 80%;
  text-align: right;
  padding: 10px;
}

.chatInput textarea{
  width: 100%;
  padding: 10px;
  border: 1px solid #3d3d3d;
  border-radius: 5px;
  height: 80px;
}

.chatAvatar {
  align-self: flex-start;
  flex-basis: 17%;
  text-align: center;
  padding: 5px 0;
  color: #3d3d3d;
}

.chatAvatar div {
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
}

.chatMessage {
  flex-basis: 63%;
  text-align: right;
  padding: 5px 10px;
}

.chatContent {
  color: white;
  background-color: #49A3D5;
  padding: 10px;
  border-radius: 5px;
}

.chatDate {
  align-self: flex-start;
  flex-basis: 20%;
  text-align: center;
  padding: 5px 0;
  color: #3d3d3d;
}

//End of chat

//Gallery

.galleryImage {
  width: 33%;
  float: right;
  height: 130px;
  overflow: hidden;
  position: relative;
}

.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}
.slider {
  width: 100%;
  height: 100%;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}
//End of Gallery

//Profile
.profilePhoto {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
}

.profilePhotoDiv {
  width: 50%;
  margin: 0 auto;
  position: relative;
}

//End of profile

//Messages

.messagesMessage {
  flex-basis: 80%;
  text-align: right;
  padding: 5px 10px;
}

.messagesContent {
  color: white;
  background-color: #49A3D5;
  padding: 10px;
  border-radius: 5px;
}

.messagesDate {
  align-self: flex-start;
  flex-basis: 20%;
  text-align: center;
  padding: 5px 0;
  color: #3d3d3d;
}