<ion-view view-title="דירות">
    <ion-nav-buttons side="left">
        <img src="main/assets/images/plus.png" height="20" ng-if="building.apartments_quantity > apartments.length && role == 'builder'" style="margin: 5px 0 0 5px" ui-sref="main.buildings.building.apartments.create">
    </ion-nav-buttons>
    <ion-content>

        <div style="width:100%; height: 220px;" ng-show="project.files.length">
            <ion-slides options="options" slider="data.slider" style="width:100%; height: 100%;">
                <ion-slide-page ng-repeat="file in project.files">
                    <div style="position: relative; overflow: hidden">
                        <img ng-src="{{file.url}}" style="width: 100%; height:100%;">
                        <div class="projectsBlueBar" ng-if="project.status == 0">בביצוע</div>
                        <div class="projectsBlueBar" ng-if="project.status == 1">בתכנון</div>
                        <div class="projectsBlueBar" ng-if="project.status == 2">בשיווק</div>
                        <div class="projectsBlueBar" ng-if="project.status == 3">טופס ארבע</div>
                    </div>
                </ion-slide-page>
            </ion-slides>
        </div>

        <div ng-if="!apartments.length && role == 'builder'" class="div95">
            <div class="blueButton" ui-sref="main.buildings.building.apartments.create({building : building.id})">הוסף דירה</div>
        </div>

        <div ng-repeat="apartment in apartments | orderBy : 'internal_id'" ng-if="apartments.length">

            <div class="row100">
                <div class="apartmentsRowRight" ui-sref="main.buildings.building.apartments.apartment({building : building.id, apartment_id : apartment.id})">
                    <span>דירה מספר </span> {{apartment.internal_id}}
                </div>
                <div ng-show="role == 'builder'" class="apartmentsRowLeft" style="text-align: left;"  ui-sref="main.buildings.building.apartments.apartment_edit({building : building.id, apartment_id : apartment.id})">
                    <img src="main/assets/images/settings.png" height="25">
                </div>
                <div ng-show="role == 'builder'" class="apartmentsRowLeft" ng-click="deleteApartment(apartment.id)">
                    <i class="icon ion-ios-trash-outline" style="font-size: 25px;"></i>
                </div>
            </div>

            <div class="rowSeparator"></div>

        </div>

    </ion-content>
</ion-view>