<ion-view hide-nav-bar="true">
    <ion-content class="has-footer apContent">

        <div style="width:100%; height: 220px; position: relative; overflow: hidden" ng-show="project.files.length">
            <ion-slides options="options" slider="data.slider" style="width:100%; height: 100%;">
                <ion-slide-page ng-repeat="file in project.files">
                    <div style="position: relative; overflow: hidden">
                        <img ng-src="{{file.url}}" style="width: 100%; height:100%;">
                    </div>
                </ion-slide-page>
            </ion-slides>
            <div style="z-index: 100; position: absolute; top: 150px; left: 0; bottom: 0; right: 0; background: linear-gradient(transparent, black)"></div>
            <i ng-click="toggleRight()" class="icon ion-navicon" style="z-index: 100; position: absolute; top: 10px; right: 20px; font-size: 40px; color: white;"></i>
        </div>

        <div ui-sref="main.buildings.building.apartments.apartment.connections({building_id: building.id, apartment_id: apartment.id})"  ng-show="role != 'tenant'">
            <div class="row100 apHeader"><span>פרויקט</span> {{project.name}} </div>
            <div class="row100 apSubHeader" style="padding-bottom: 20px;"><span>בניין</span> {{building.name}}, <span>דירה</span> {{apartment.internal_id}}</div>
        </div>

        <div ng-show="role == 'tenant'">
            <div class="row100 apHeader"><span>פרויקט</span> {{project.name}} </div>
            <div class="row100 apSubHeader">{{project.address}}</div>
            <div class="row100 apSubHeader" style="padding-bottom: 20px;"><span>בניין</span> {{building.name}}, <span>דירה</span> {{apartment.internal_id}}</div>
        </div>

        <div class="rowWhiteSeparator"></div>

        <div class="row100" ui-sref="main.buildings.building.apartments.apartment.products({building_id: building.id, apartment_id: apartment.id})">

            <div class="apRow30"><img src="main/assets/images/si1.png" width="45"></div>
            <div class="apRow70">מפרט</div>

        </div>

        <div class="rowWhiteSeparator"></div>

        <div class="row100" ui-sref="main.buildings.building.apartments.apartment.plans({building_id: building.id, apartment_id: apartment.id})">

            <div class="apRow30"><img src="main/assets/images/si2.png" width="45"></div>
            <div class="apRow70">תוכניות</div>

        </div>

        <div class="rowWhiteSeparator"></div>

        <div class="row100" ui-sref="main.buildings.building.apartments.apartment.defects({building_id: building.id, apartment_id: apartment.id})">

            <div class="apRow30"><img src="main/assets/images/si3.png" width="45"></div>
            <div class="apRow70">פיקוח</div>

        </div>

        <div class="rowWhiteSeparator"></div>

    </ion-content>
    <ion-footer-bar class="apFooter">
        <div class="row100">
            <div class="apFooter33" ui-sref="main.buildings.building.apartments.apartment.messages({building_id: building.id, apartment_id: apartment.id})">
                <img src="main/assets/images/i3.png" style="padding-top: 10px; height: 35px;">
                <div>עדכונים</div>
            </div>
            <div class="apFooter34" ui-sref="main.buildings.building.apartments.apartment.gallery({building_id: building.id, apartment_id: apartment.id})">
                <img src="main/assets/images/i2.png" style="padding-top: 10px; height: 35px;">
                <div>גלריה</div>
            </div>
            <div class="apFooter33" ui-sref="main.projects_list">
                <img src="main/assets/images/i1.png" style="padding-top: 10px; height: 35px;">
                <div>על הקבלן</div>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
