<ion-view view-title="עדכונים">
    <ion-content>

        <div class="chatContainer" ng-if="role == 'builder'">

            <div class="chatInput">
                <textarea ng-model="message.content" row="6"></textarea>
            </div>
            <div class="chatArrow" ng-click="sendMessage()">
                <i class="icon ion-android-send" style="font-size: 40px; color: #49A3D5; display: inline-block; transform: rotate(180deg);"></i>
            </div>

        </div>

        <div ng-repeat="message in apartment.messages | orderBy: '-id'">

            <div class="chatContainer">

                <div class="messagesMessage">
                    <p class="messagesContent">{{message.content}}</p>
                </div>
                <div class="messagesDate">
                    <div>{{message.jsdate | date: 'HH:mm'}}</div>
                    <div>{{message.jsdate | date: 'dd MMM'}}</div>
                </div>

            </div>

        </div>

    </ion-content>
</ion-view>
