<ion-modal-view>
    <ion-header-bar style="color: #3d3d3d;">
        <i class="icon ion-close-circled" ng-click="closeProductsModal()" style="font-size: 200%;"></i>
        <div class="title">{{product_category.title}}</div>
    </ion-header-bar>
    <ion-content>

        <div class="div95">

            <div ng-repeat="product in newProducts">

                <div ng-if="product.id && product.product_category_id == product_category.id">

                    <div class="row100">

                        <div class="step3modalRight">
                            <div class="step3modalSquare" ng-hide="product.file">אין קובץ</div>
                            <div style="width: 100%; text-align: center; padding-left: 5px; padding-top: 5px;" ng-show="product.file"><img ng-src="{{product.file}}" height="112"></div>
                        </div>

                        <div class="step3modalLeft">

                            <div class="step3fakeInput">{{product.title}}</div>

                            <div class="step3fakeInput">{{product.provider}}</div>

                            <div class="step3fakeInput">{{product.refund}}</div>

                        </div>

                    </div>

                    <div class="step3fakeTextarea">
                        {{product.description}}
                        <div class="step3trash" ng-click="deselectProduct(product.id)"><i class="icon ion-ios-trash" style="font-size: 30px;"></i></div>
                    </div>

                </div>

                <div ng-if="!product.id && product.product_category_id == product_category.id">

                    <div class="row100">

                        <div class="step3modalRight">
                            <div class="step3modalSquare" ng-hide="product.file" data-choose-picture pictures="product.file">+</div>
                            <div style="width: 100%; text-align: center; padding-left: 5px; padding-top: 5px;" ng-show="product.file"><img ng-src="{{product.file}}" height="112"></div>
                        </div>

                        <div class="step3modalLeft">

                            <div class="projectInput">
                                <input type="text" ng-model="product.title" placeholder="שם המוצר">
                            </div>

                            <div class="projectInput">
                                <input type="text" ng-model="product.provider" placeholder="ספק">
                            </div>

                            <div class="projectInput">
                                <input type="number" ng-model="product.refund" placeholder="זיכוי מהחברה">
                            </div>

                        </div>

                    </div>

                    <div class="projectInput">
                        <textarea rows="3" ng-model="product.description" placeholder="פירוט על המוצר בשתי שורות"></textarea>
                    </div>

                </div>

                <div class="rowWhiteSeparator"></div>

            </div>

            <div class="blueButton" ng-click="addProduct()">הוסף מוצר</div>

        </div>

    </ion-content>
    <ion-footer-bar style="padding: 0;">
        <div class="blueButton" style="margin: 0;" ng-click="closeProductsModal()">שמור</div>
    </ion-footer-bar>
</ion-modal-view>