<ion-view view-title="פרופיל אישי">
  <ion-content class="has-footer">

      <div class="div95 rtl">

          <div class="row100 centering padding">

              <div data-choose-picture pictures="user.file" ng-if="!user.files[0].url && !user.file">
                  <i class="icon ion-android-happy" style="color: #F6F6F6; font-size: 100px;"></i>
                  <div style="color: #dcdcdc;">Upload Photo</div>
              </div>

              <div data-choose-picture pictures="user.file" ng-if="user.file" class="profilePhotoDiv">
                  <div class="profilePhoto">
                      <img ng-src="{{user.file}}" style="height: 100px;">
                  </div>
              </div>

              <div class="profilePhotoDiv" ng-if="user.files[0].url">
                  <div class="profilePhoto">
                      <img ng-src="{{user.files[0].url}}" style="height: 100px;">
                  </div>
                  <i class="icon ion-close-circled" ng-click="deletePhoto()" style="font-size: 20px;position: absolute; top: 0; right: 0; color: #3d3d3d;"></i>
              </div>

          </div>

          <div class="projectInput">
              <input type="text" ng-model="user.name" placeholder="שם">
          </div>

          <div class="projectInput">
              <input type="text" ng-model="user.email" placeholder="אימייל">
          </div>

      </div>

  </ion-content>
    <ion-footer-bar class="cleanFooter">
        <div class="blueButton" style="margin: 0;" ng-click="updatePhoto()">עדכן</div>
    </ion-footer-bar>
</ion-view>
