<ion-view view-title="דף תקלה">
    <ion-content class="has-footer">

        <div class="defectCamera" data-choose-picture pictures="newDefect.file" ng-show="!newDefect.file" >
            <i class="icon ion-ios-camera-outline" style="font-size: 50px; color: black;"></i>
        </div>

        <div class="defectImage" data-choose-picture pictures="newDefect.file" ng-show="newDefect.file" >
            <img ng-src="{{newDefect.file}}" ng-show="newDefect.file" style="height: 100%;">
        </div>

        <div class="defectRow">
            <div class="row100">קטגוריה</div>
            <div class="defectInput" style="margin: 5px 0;">
                <select ng-model="newDefect.category" ng-init="newDefect.category = '0'">
                    <option value="0">בחר קטגוריה</option>
                    <option ng-repeat="cat in apartment.defect_categories" value="{{cat.id}}">{{cat.title}}</option>
                </select>
            </div>
            <div class="rowSeparator"></div>
        </div>

        <div class="defectRow">
            <div class="row100">מיקום בבית</div>
            <div class="defectInput"><input type="text" ng-model="newDefect.location" placeholder="בחר מיקום בבית"></div>
            <div class="rowSeparator"></div>
        </div>

        <div class="defectRow">
            <div class="row100">פירוט תקלה</div>
            <div class="defectInput"><textarea rows='3' ng-model="newDefect.description" placeholder="כתוב כאן את פירוט התקלה"></textarea></div>
            <div class="rowSeparator"></div>
        </div>

    </ion-content>
    <ion-footer-bar class="cleanFooter">
        <div class="blueButton" style="margin: 0;" ng-click="makeNewTicket()">שלח</div>
    </ion-footer-bar>
</ion-view>
