<ion-view view-title="גלריה">
    <ion-nav-buttons side="left">
        <img src="main/assets/images/plus.png" height="20" style="margin: 5px 0 0 5px" ng-click="addNewImage()">
    </ion-nav-buttons>
    <ion-content>

        <div ng-repeat="image in apartment.images" style="margin-top: 10px;">

            <div class="galleryImage">
                <img ng-src="{{image.files[0].url}}" style="width: 100%; height: 100%; padding: 10px;"  ng-click="goToSlide(image)">
                <i class="icon ion-close-circled" style="position: absolute; top: 15px; left: 15px; font-size: 25px; color: white;" ng-click="deleteImage(image); event.stopPropagation()"></i>
            </div>

        </div>

    </ion-content>
</ion-view>
