<ion-view view-title="דף תקלה">
    <ion-nav-buttons side="left">
        <div class="defectButtonRed" ng-click="deleteTicket()">מחק</div>
    </ion-nav-buttons>
    <ion-content class="has-footer">

        <div class="div95 rtl">

            <div class="defectText"><span style="font-weight: bold;">שם המדווח: </span> {{defect.user.name}} </div>
            <div class="defectText"><span style="font-weight: bold;">קטגוריה: </span> {{defect.defect_category.title}} </div>
            <div class="defectText"><span style="font-weight: bold;">מיקום: </span> {{defect.location}} </div>
            <div class="defectText" style="padding-bottom: 10px;"><span style="font-weight: bold;">פירוט תקלה: </span> {{defect.description}} </div>

            <div class="defectImage">
                <img ng-src="{{defect.files[0].url}}" style="height: 100%;" ng-show="defect.files[0].url">
            </div>

            <div dir="ltr" ng-repeat="comment in defect.comments | orderBy: 'id'" ng-if="defect.comments.length > 0" class="padding-top">

                <div class="chatContainer">

                    <div class="chatAvatar" ng-if="comment.user.files[0].url">
                        <div><img ng-src="{{comment.user.files[0].url}}" height="40"></div>
                    </div>

                    <div class="chatAvatar" ng-if="!comment.user.files[0].url">
                        <i class="icon ion-android-happy" style="font-size: 45px; color: #3d3d3d;"></i>
                    </div>

                    <div class="chatMessage">
                        <p class="chatContent" ng-if="comment.files[0].url">
                            <img ng-src="{{comment.files[0].url}}" style="width: 100%;">
                        </p>
                        <p class="chatContent">{{comment.content}}</p>
                    </div>
                    <div class="chatDate">
                        <div>{{comment.jsdate | date: 'HH:mm'}}</div>
                        <div>{{comment.jsdate | date: 'dd MMM'}}</div>
                    </div>

                </div>

            </div>

            <div class="chatContainer" dir="ltr">

                <div class="chatInput">
                    <div ng-if="newComment.file" style="position: relative;">
                        <img ng-src="{{newComment.file}}" style="width: 100%;">
                        <i class="icon ion-close-circled" style="position: absolute; top: 10px; left: 10px; font-size: 25px; color: white;" ng-click="deleteImage(); event.stopPropagation()"></i>
                    </div>
                    <textarea dir="rtl" ng-model="newComment.content" row="6"></textarea>
                </div>

                <div class="chatButtonsContainer">

                    <div class="chatButton" data-choose-picture pictures="newComment.file" ng-if="!newComment.file">
                        <i class="icon ion-android-attach" style="font-size: 30px; color: #7E7E7E; display: inline-block; transform: rotate(180deg);"></i>
                    </div>

                    <div  class="chatButton" ng-click="addComment()">
                        <i class="icon ion-android-send" style="font-size: 30px; color: #49A3D5; display: inline-block; transform: rotate(180deg);"></i>
                    </div>


                </div>



            </div>

        </div>

    </ion-content>
    <ion-footer-bar style="background-size: 0;">

        <div class="defectButton" ng-click="changeStatus(0)" ng-if="defect.closed == 1">בטיפול</div>
        <div class="defectButton" ng-click="changeStatus(1)" ng-if="defect.closed == 0">בוצע</div>

    </ion-footer-bar>
</ion-view>
