<ion-view hide-nav-bar="true">
    <ion-content class="customBackground centering">

        <div class="row100">
            <img src="main/assets/images/intro_logo.png" style="width:60%; margin: 100px 0 50px 0;">
        </div>

        <div class="loginInput">
            <input type="tel" ng-model="login.phone" placeholder="הכנס טלפון לזיהוי">
        </div>

        <div class="loginInput" ng-click="authenticate()">כניסה
            <div class="loginIcon"><img src="main/assets/images/enter_icon.png" width="30"></div>
        </div>

        <div class="loginInput">
            <img src="main/assets/images/saleproject.png" style="width: 100%;">
        </div>

    </ion-content>
</ion-view>