<ion-view>
    <ion-nav-bar align-title="center">
        <ion-nav-buttons side="left">
            <i class="icon ion-close-circled" style="font-size: 30px; padding-left: 5px; padding-top: 2px; color: #3d3d3d;" ui-sref="main.buildings.building.apartments({building: building.id})" ui-sref-opts="{reload: true}"></i>
        </ion-nav-buttons>
        <ion-nav-title style="color: #3d3d3d;">{{getTitle()}}</ion-nav-title>
        <ion-nav-buttons side="right">
            <span ng-click="stepBack()" ng-show="getStep() != 1 && getStep() != 4">
                <span style="font-size: 15px; padding-top: 8px; padding-right: 5px; color: #3d3d3d;">Back</span>
                <i class="icon ion-chevron-right" style="font-size: 25px; padding-top: 5px; padding-right: 5px; color: #3d3d3d;"></i>
            </span>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>

        <div class="div95 centering rtl">

            <!--Wizard start-->

            <wizard on-finish="onWizardFinish()" hide-indicators="true">

                <!--Header-->

                <div style="padding: 15px 0;" ng-if="getStep() == 1"><img src="main/assets/images/level2.png" style="width: 100%;"></div>
                <div style="padding: 15px 0;" ng-if="getStep() == 2"><img src="main/assets/images/level3.png" style="width: 100%;"></div>
                <div style="padding: 15px 0;" ng-if="getStep() == 3"><img src="main/assets/images/level4.png" style="width: 100%;"></div>
                <div style="padding: 15px 0;" ng-if="getStep() == 4"><img src="main/assets/images/level5.png" style="width: 100%;"></div>

                <!--Step 2-->

                <wz-step wz-title="" current-step="1">

                    <!--New apartment-->

                    <div>
                        <div class="projectInput">
                            <input type="text" ng-model="apartment.title" placeholder="כותרת הדירה">
                        </div>

                        <div class="projectInput">
                            <input type="number" ng-model="apartment.rooms_quantity" placeholder="מספר חדרים">
                        </div>

                        <div class="projectInput">
                            <input type="number" ng-model="apartment.area" placeholder="גודל הדירה">
                        </div>

                        <div class="projectInput">
                            <input type="number" ng-model="apartment.balcony_area" placeholder="גודל מרפסת">
                        </div>

                        <div class="projectInput">
                            <textarea data-ng-model="apartment.comments" rows="10" placeholder="הערות"></textarea>
                        </div>
                    </div>

                    <div class="blueButton" ng-click="saveStep1()">הבא</div>

                </wz-step>

                <!--Step 3-->

                <wz-step wz-title="" current-step="2">

                    <div class="row100">
                        <div class="step2row50" ng-click="changeSelection('0')">

                            <div class="step2row30">
                                <i class="icon ion-ios-circle-filled" ng-show="selection == 0"
                                   style="font-size: 30px;"></i>
                                <i class="icon ion-ios-circle-outline" ng-show="selection == 1"
                                   style="font-size: 30px;"></i>
                            </div>

                            <div class="step2row70"><span>מפרט חדש</span></div>

                        </div>

                        <div class="step2row50" ng-click="changeSelection('1')">

                            <div class="step2row30">
                                <i class="icon ion-ios-circle-filled" ng-show="selection == 1"
                                   style="font-size: 30px;"></i>
                                <i class="icon ion-ios-circle-outline" ng-show="selection == 0"
                                   style="font-size: 30px;"></i>
                            </div>

                            <div class="step2row70"><span>מפרט קיים</span></div>

                        </div>
                    </div>

                    <div class="rowWhiteSeparator"></div>

                    <!--Existing products-->

                    <div ng-repeat="category in product_categories" ng-if="selection == 1">

                        <div ng-show="category.products.length > 0" class="step3listTitle">{{category.title}}</div>

                        <div class="rowWhiteSeparator" ng-show="category.products.length > 0"></div>

                        <div ng-show="category.products.length > 0" ng-repeat="product in category.products">
                            <div class="row100">
                                <div class="step3row20">
                                    <i class="icon ion-ios-circle-filled" style="font-size: 30px;" ng-click="deselectProduct(product.id)" ng-show="isProductSelected(product.id)"></i>
                                    <i class="icon ion-ios-circle-outline" style="font-size: 30px;" ng-click="selectProduct(product)" ng-show="!isProductSelected(product.id)"></i>
                                </div>
                                <div class="step3row60">
                                    {{product.title}} <span>מספק</span> {{product.provider}}
                                </div>
                                <div class="step3row20">
                                    <i class="icon ion-ios-trash" style="font-size: 30px;" ng-click="showDeleteProductPopup(product)"></i>
                                </div>
                            </div>

                            <div ng-show="category.products.length > 0" class="rowWhiteSeparator"></div>
                        </div>

                    </div>

                    <div class="blueButton" ng-show="selection == 1" style="clear: both;" ng-click="changeSelection('0')">הבא
                    </div>

                    <!--New products-->

                    <div ng-repeat="category in product_categories" ng-click="showProductsModal(category.id)" ng-if="selection == 0">

                        <div class="step3category">
                            <div><img ng-src="{{category.files[0].url}}" style="width: 100%; height: 100px;"></div>
                            <div>{{category.title}}</div>
                        </div>

                    </div>

                    <div class="blueButton" ng-show="selection == 0" style="clear: both;" ng-click="saveStep2()">הבא</div>

                </wz-step>

                <!--Step 4-->

                <wz-step wz-title="" current-step="3">

                    <div ng-repeat="category in plan_categories">

                        <div class="row100">
                            <div class="step4rowRight" ng-show="!planExists(category.id)" ngf-select="uploadFile('create', category.id, $file)">+</div>
                            <div class="step4rowRightIcon" ng-show="planExists(category.id)" ng-click="openPlanPopover($event, category)"><i class="icon ion-document-text" style="font-size: 25px;"></i></div>
                            <div class="step4rowLeft">{{category.title}}</div>
                        </div>

                    </div>

                    <div class="blueButton" data-wz-next>הבא</div>

                </wz-step>

                <!--Step 5-->

                <wz-step wz-title="" current-step="4">
                    <div class="centering">

                        <div class="div95">

                            <div class="step5text">ברכותיי!</div>

                            <div class="step5text">
                                <span>סיימת את התאליך להקמת דירות מספר</span>
                                <span ng-repeat="n in savedApartments track by $index">{{n.internal_id}}, </span>
                                <span>דירות </span>
                                {{savedApartments[0].rooms_quantity}}
                                <span> חדרים</span>
                                <span>בבניין</span>
                                {{building.name}}
                            </div>

                            <div style="color: #3d3d3d">מה אתה רוצה לעשות עכשיו?</div>

                            <div class="blueButton" ui-sref="main.buildings.building.apartments({building: building.id})" ui-sref-opts="{reload: true}">רשימת הדירות</div>
                            <div class="blueButton" ui-sref="main.projects">לחזור לדף הפרויקטים</div>
                        </div>

                    </div>
                </wz-step>
            </wizard>

        </div>

    </ion-content>
</ion-view>