<ion-popover-view>
    <ion-content>

        <img ng-src="{{plan_category.plan.files[0].url}}" style="width: 100%; max-height: 150px; margin: 0 auto;">

        <ion-list class="rtl">
            <ion-item ngf-select="uploadFile('edit', plan_category.id, $file)">לערוך</ion-item>
            <ion-item ng-click="deletePlan()">למחוק</ion-item>
        </ion-list>

    </ion-content>
</ion-popover-view>