<ion-view view-title="הפרויקטים שלי">
    <ion-nav-buttons side="left">
        <img src="main/assets/images/plus.png" ng-if="role == 'builder'" height="20" style="margin: 5px 0 0 5px" ui-sref="main.projects.create" ui-sref-opts="{reload: true}">
    </ion-nav-buttons>
    <ion-content>

        <div ng-repeat="project in projects | orderBy: '-id'">

            <div style="width:100%; height: 220px" ng-show="project.files.length" ng-click="moveIntoProject(project)">
                <ion-slides options="options" slider="data.slider" style="width:100%; height: 100%;">
                    <ion-slide-page ng-repeat="file in project.files">
                        <div style="position: relative; overflow: hidden">
                            <img ng-src="{{file.url}}" style="width: 100%; height:100%;">
                            <div class="projectsBlueBar" ng-if="project.status == 0">בביצוע</div>
                            <div class="projectsBlueBar" ng-if="project.status == 1">בתכנון</div>
                            <div class="projectsBlueBar" ng-if="project.status == 2">בשיווק</div>
                            <div class="projectsBlueBar" ng-if="project.status == 3">טופס ארבע</div>
                        </div>
                    </ion-slide-page>
                </ion-slides>
            </div>

            <div class="row100" style="position: relative;">

                <div class="projectsDesc" ng-click="moveIntoProject(project)">

                    <div><span>שם הפרויקט: </span> {{project.name}}</div>
                    <div>{{project.description}}</div>
                    <div><span>כתובת: </span> {{project.address}}</div>

                </div>

                <div class="projectsSettings" ui-sref="main.projects.project({project_id: project.id})" ng-show="role == 'builder'">
                    <img src="main/assets/images/settings.png" height="30" style="position: absolute; top: 50%; transform: translateY(-50%);">
                </div>

            </div>


        </div>

    </ion-content>
</ion-view>